.header {
  background-image: linear-gradient(
      rgba(47, 44, 44, 0.617),
      rgba(0, 0, 0, 0.423)
    ),
    url(./backimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 130rem;
}
.section1 {
  background-image: linear-gradient(
      rgba(18, 17, 17, 0.872),
      rgba(0, 0, 0, 0.728)
    ),
    url(./stop-taxi.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 130rem;
  /* height: 40rem;margin: auto; */
}

.back-3 {
    background-image: linear-gradient(
        rgba(18, 17, 17, 0.872),
        rgba(0, 0, 0, 0.728)
      ),
      url(./back2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 130rem;
    height: 40rem;margin: auto;
  }
  